@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-deepblue: #120A3D;
    --color-red: #E43247;
}

html {
    background-color: var(--color-deepblue);
}

div, p, button {
    color: white;
}
