@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-deepblue: #120A3D;
    --color-red: #E43247;
}

html {
    background-color: var(--color-deepblue);
}

div, p, button {
    color: white;
}

.btn-red {
    @apply btn bg-red disabled:opacity-50 hover:opacity-80;
}
